@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    src: url('OpenSans-Regular.ttf');
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background-color: black;
}

.post {
    border-radius: 5px;
    background-color: dimgrey;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'OpenSans', sans-serif;
    color: black;
}

.post a {
    text-decoration: none;
    color: white;
}

#loadingSpinner {
    display: none;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

body.light-mode {
    background-color: white;
}

.post .light-mode {
    background-color: lightgray;
    color: black;
}

.post .light-mode a {
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #808080;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.header h2 {
    margin: 0;
    font-size: 16px;
    flex-grow: 1;
}

.header a, .header button {
    margin: 0;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header a p {
    display: inline;
    margin: 0;
}

.hidden {
    display: none;
}

.expandable-widget {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;;
    background-color: black;
}

.expandable-widget.light-mode {
    background-color: #f9f9f9;
}

.widget-title.light-mode {
    color: black;
}

.widget-choice.light-mode {
    color: black;
}

.expandable-widget.show {
    display: block;
}

.widget-container {
    position: relative;
    display: inline-block;
}

.hidden {
    display: none;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    position: fixed;
    height: 100%;
    left: 0px;
}


.sidebar.light-mode {
    background-color: lightgray;
    color: #333;
}

#feedList {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

#feedList li {
    text-align: center;
    display: block;
    width: 100%;
    font-family: "OpenSans", sans-serif;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0px;
    margin: 0px;
    margin-top: 1px;
}

#feedList li.light-mode {
    color: black;
    background-color: lightgray;
}

#feedList li :hover {
    background-color: grey;
}