@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    src: url('OpenSans-Regular.ttf');
}

#feedList li{
    font-family: 'OpenSans', sans-serif;
    color: white;
}

.hidden {
    display: none;
}